node_modules
jsdoc-templates
logs

**/*.log

package-lock.json

.idea
.idea/*
*.iml

**/out
**/out/*

**/test_data/unzipped_files
**/test_data/unzipped_files/*


build/staging
build/dist
build/ctrf

staging
dist
ctrf


test_data/large_test_decoded.mp4

test_data/test_decoded.png

packages/resources/messages/form-assembly-sandbox
